@model Web.ViewModels.ContactUsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<title>Contacto</title>


<div class="container-fluid">
    <div class="row-fluid">
        
        <div class="span8">
            @using (Html.BeginForm("Contact", "Contact", FormMethod.Post))
            {     
                <legend>Contacto</legend> 
                
                <label>Nombre Completo</label>
                @Html.EditorFor(model => model.fullName)

                <label>Telefono</label>
                @Html.EditorFor(model => model.phone)
                                            
                <label>E-Mail</label>
                @Html.EditorFor(model => model.mail)
                                    
                <label>Empresa</label>
                @Html.EditorFor(model => model.enterprise)
                                
                <label>Mensaje</label>
                @Html.EditorFor(model => model.message)
                <br/>
                <button class="btn" type="submit">Contactar</button>
            }  
        </div>

		<div class="span4">
			<div class="media">
				 <a href="#" class="pull-left"><img src="http://lorempixel.com/64/64/" class="media-object" alt='' /></a>
				<div class="media-body">
					<h4 class="media-heading">
						Nested media heading
					</h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
				</div>
			</div>
			<div class="media">
				 <a href="#" class="pull-left"><img src="http://lorempixel.com/64/64/" class="media-object" alt='' /></a>
				<div class="media-body">
					<h4 class="media-heading">
						Nested media heading
					</h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
				</div>
			</div>
			<div class="media">
				 <a href="#" class="pull-left"><img src="http://lorempixel.com/64/64/" class="media-object" alt='' /></a>
				<div class="media-body">
					<h4 class="media-heading">
						Nested media heading
					</h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
				</div>
			</div>
		</div>
        </div>
</div>