@model Web.ViewModels.ContactUsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.EnableClientValidation(true);
}


<title>Contacto | Lupus' Team</title>

<div class="container-fluid">
    <div class="row-fluid">
        
        <div class="span8">
            @using (Html.BeginForm("Contact", "Contact", FormMethod.Post))
            {     
                <legend>Contanos acerca de tu proyecto!</legend> 
                
                <label>Nombre Completo</label>
                @Html.EditorFor(model => model.fullName)
                @Html.ValidationMessageFor(model => model.fullName,"",new { @style = "color:red;" })

                

                <label>Telefono</label>
                @Html.EditorFor(model => model.phone)
                @Html.ValidationMessageFor(model => model.phone,"",new { @style = "color:red;" })
               
                                            
                <label>E-Mail</label>
                @Html.EditorFor(model => model.mail)
                @Html.ValidationMessageFor(model => model.mail,"", new { @style = "color:red;" })
                                    
                <label>Empresa</label>
                @Html.EditorFor(model => model.enterprise)
                @Html.ValidationMessageFor(model => model.enterprise,"", new { @style = "color:red;" })
                                
                <label>Mensaje</label>
                @Html.EditorFor(model => model.message)
                @Html.ValidationMessageFor(model => model.message,"", new { @style = "color:red;" })

                <br/>
                <button class="btn" type="submit">Contactar</button>
            }  
        </div>
		<div class="span4" style="padding-top: 5%;">
			<div class="media">
				 <a href="#" class="pull-left"><img src="../../Content/img/back-end.png" class="media-object" alt='' /></a>
				<div class="media-body">
					<h4 class="media-heading">
						Back-End
					</h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
				</div>
			</div>
			<div class="media">
				 <a href="#" class="pull-left"><img src="../../Content/img/front-end.png" class="media-object" alt='' /></a>
				<div class="media-body">
					<h4 class="media-heading">
						Front-End
					</h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
				</div>
			</div>
			<div class="media">
				 <a href="#" class="pull-left"><img src="../../Content/img/database.png" class="media-object" alt='' /></a>
				<div class="media-body">
					<h4 class="media-heading">
						Bases de Datos
					</h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
				</div>
			</div>
		</div>
        </div>
</div>